# Pliki systemowe
.DS_Store
Thumbs.db

# Pliki Pythona
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env/
ENV/
env/

# Pliki IDE
.vscode/
.idea/

# Testy / logi
*.log
*.tmp

# Pliki tymczasowe i backupy
*~
*.bak
*.swp
*.tif
*.tiff
od2.txt
odp.txt
GEMINI.MD
.env
pianostore.db
*.sqlite3