{# pianostore/templates/pianostore/email/purchase_link.html #}
<!DOCTYPE html>
<html>
<head>
    <title>Twoje nuty są gotowe!</title>
</head>
<body>
    <p>Cześć,</p>
    <p>Dziękujemy za zakup nut do utworu "<strong>{{ product_title }}</strong>".</p>
    <p>Możesz je pobrać, klikając w poniższy link:</p>
    <p>
        <a href="{{ url_for('pianostore.download_sheet', purchase_token=download_token, _external=True) }}">
            Pobierz nuty
        </a>
    </p>
    <p>Link będzie aktywny przez ograniczony czas. Jeśli masz jakiekolwiek problemy, skontaktuj się z nami.</p>
    <p>Pozdrawiamy!</p>
</body>
</html>
